<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {{ site_title() }} {% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %} {{ site_description() }} {% endblock %}">
    <meta name="author" content="Librarian">

    <link href="{{ site_root() }}css/app.css" rel="stylesheet">

    {% block includes %}
    {% endblock %}
</head>

<body class="bg-gradient-to-r from-blue-200 via-purple-200 to-blue-400">
    {% block content %}
    {% endblock %}

    <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
    <script type="text/javascript" src="{{ site_root() }}js/prism.js"></script>
</body>
</html>